
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Auction/Create">
    <div class="form-inline">
        <label>Title</label>
        <input name="Title" class="form-control" />
    </div>
    <div class="form-inline">
        <label>PictureUrl</label>
        <input name="PictureUrl"  class="form-control"/>
    </div>

    <div class="form-inline">
        <label>Description</label>
        <input name="Description"  class="form-control"/>
    </div>
    <div class="form-inline">
        <label>ActualAmount</label>
        <input name="ActualAmount"  class="form-control"/>
    </div>
    <div class="form-inline">
        <label>StartingTime</label>
        <input name="StartingTime"  class="form-control"/>
    </div>
    <div class="form-inline">
        <label>EndingTime</label>
        <input name="EndingTime" class="form-control"/>
    </div>
  
    <input type="submit" value="Save" />
</form>

